[Unit]
Description=File Reader Service
After=network.target

[Service]
WorkingDirectory=/home/otavio/Desktop/enoe-otavio/Raspberry
ExecStart=/usr/bin/python3 /home/intermidia/enoe-otavio/Raspberry/ultrassonic_file_producer.py
Restart=always
RestartSec=10
User=intermidia
KillMode=process
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
