[Unit]
Description=Image File Producer
After=network.target

[Service]
WorkingDirectory=/home/intermidia/enoe-otavio/Raspberry
ExecStart=/usr/bin/python3 /home/intermidia/enoe-otavio/Raspberry/image_file_producer.py
Restart=always
RestartSec=10
User=intermidia
KillMode=process
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
