[Unit]
Description=Ultrassonic app Service
After=network.target

[Service]
Type=simple
User=intermidia
Group=intermidia
WorkingDirectory=/home/intermidia/enoe-otavio/app_producao
Environment="PATH=/home/intermidia/enoe-otavio/enoe/bin"
ExecStart=/home/intermidia/enoe-otavio/enoe/bin/python3 /home/intermidia/enoe-otavio/app_producao/app2.py
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
